<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= "商品名" %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag "item-sample.png" ,class:"item-box-img" %>
      <%# 商品が売れている場合は、sold outを表示しましょう %>
      <div class='sold-out'>
        <span>Sold Out!!</span>
      </div>
      <%# //商品が売れている場合は、sold outを表示しましょう %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥ 999,999,999
      </span>
      <span class="item-postage">
        <%= '配送料負担' %>
      </span>
    </div>